@model LMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <div>
        @Html.ActionLink( linkText:"Registrera elev", actionName:"Register", controllerName:"Account", routeValues:new { id = Model.Id }, htmlAttributes:null )
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LunchStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LunchStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LunchEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LunchEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
