@model IEnumerable<LMS.Models.Course>

@{
    ViewBag.Title = "Kurslista";
}
<script type="text/javascript">
    window.addEventListener("load", function () {
        var x = document.getElementById("test");
        x.setAttribute("style", "display:initial");

    })

</script>

<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Kurslista</h2>
    </div>

    <div class="col-md-2">
        <br />
        @Html.ActionLink("Lägg till ny kurs", "Create", null, new { @class = "btn btn-default" })
    </div>

    <div class="col-md-2">
        <br />
        @Html.ActionLink(linkText: "Lägg till ny lärare", actionName: "Register", controllerName: "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
    </div>
</div>
<hr />

<table class="table table-striped">

    <tr>
        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.End)
        </th>

        <th id="tableCol1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td id="table-description1">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>

            <td>
                @Html.ActionLink("Redigera", "Edit", new { id = item.Id }, new { @class = "btn btn-custom" })
                @Html.ActionLink("Detaljer", "Details", new { id = item.Id }, new { @class = "btn btn-custom" })
                @Html.ActionLink("Ta bort", "Delete", new { id = item.Id }, new { @class = "btn btn-custom" })
                @Html.ActionLink("Schema","Index", "Schedule", new { id = item.Id }, new { @class = "btn btn-custom" })

             
            </td>
        </tr>
    }

</table>
