@model IEnumerable<LMS.Models.Course>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="col-md-4">
    <h3>Course register</h3>
</div>

<div class="col-md-2">
    <br />
    @Html.ActionLink("Add a New Course", "Create", null, new { @class = "btn btn-default" })
</div>

<div class="col-md-2">
    <br />
    @Html.ActionLink(linkText: "Add a New Teacher", actionName: "Register", controllerName: "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-default" })
</div>

<br /><br /><br /><br />
<table class="table table-striped">

    <tr>
        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th id="tableCol1">
            @Html.DisplayNameFor(model => model.End)
        </th>

        <th id="tableCol1"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                @*@Html.ActionLink(item.Name, "CourseStudentList", new { id = item.Id }, new { @id = "courseLink" })*@
                @*@Html.ActionLink(linkText: item.Name, actionName: "CourseStudentList", controllerName: "Courses", routeValues: new { id = item.Id }, htmlAttributes: new { @id = "courseLink" })*@
            </td>
            <td id="tableCell">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
