@model LMS.Models.Activity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>

    <hr />

    <h4>Dokument</h4>

    @Html.Partial( "~/Views/Shared/ModelFileView.cshtml",
    new LMS.Models.FileModalPartialViewModel {
        Id = Model.Id,
        Type = LMS.Models.DocumentTargetEntity.Activity,
        Title = Model.Name,
        PostBackChange = "location.reload()"
    } )

    <ul>
        @foreach ( var doc in ViewBag.AssocUrls as List<LMS.Models.Document> ) {
            <li>
                <a href="@doc.Url" target="_blank">@doc.Url</a>
            </li>
        }
    </ul>

    <ul>
        @foreach ( var doc in ViewBag.AssocDocs as List<LMS.Models.Document> ) {
            <li>
                <a href="" download>@doc.ToString()</a>
            </li>
        }
    </ul>

    <hr />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
