@model LMS.Models.Activity

@{
    ViewBag.Title = "Edit";
    var isScheduleMode = Request.QueryString["mode"] == "schedule";
    if (isScheduleMode) {
        Layout = "~/Views/Shared/IFrameLayout.cshtml";
    }
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Activity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ModuleId)


        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (!isScheduleMode) {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        }
    </div>
}

<hr />



@if (!isScheduleMode) {

    <h4>Dokument</h4>

    @Html.Partial("~/Views/Shared/ModelFileView.cshtml",
            new LMS.Models.FileModalPartialViewModel {
                Id = Model.Id,
                Type = LMS.Models.DocumentTargetEntity.Activity,
                Title = Model.Name,
                PostBackChange = "location.reload()"
            })

    <ul>
        @foreach (var doc in ViewBag.AssocUrls as List<LMS.Models.Document>) {
            <li>
                <a href="@doc.Url" target="_blank">@doc.Url</a>
            </li>
        }
    </ul>

    <ul>
        @foreach (var doc in ViewBag.AssocDocs as List<LMS.Models.Document>) {
            <li>
                <a href="" download>@doc.ToString()</a>
            </li>
        }
    </ul>


    <hr />

    <div>
        @Html.ActionLink("Tillbaka", actionName: "Edit", controllerName: "Modules", routeValues: new { id = Model.ModuleId }, htmlAttributes: null)
        @*@Html.ActionLink( "Tillbaka till föregående sida", null, null, null, new { href = Request.UrlReferrer, @class = "link-text" } )*@
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
