@model IEnumerable<LMS.Models.Module>

@{
    ViewBag.Title = "Schedule";
}

<h2>Schema för @ViewBag.CourseName</h2>

<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>
@foreach ( var item in Model ) {
    <span><a href="#@item.Id" >@item.Name</a> </span>
}

@{
    DateTime dateToday = DateTime.Now.Date;
    DateTime yesterday = dateToday - new TimeSpan( 1, 0, 0, 0 );
}

    @foreach ( var item in Model ) {
        <div>
            <p>
                <a id="@item.Id"></a>
            </p>
            <p class="lms-schedule-module" style="font-weight: bold">
                @Html.DisplayFor( modelItem => item.Name )
                <!--class="pull-right"-->
                <span>&nbsp;&nbsp;&nbsp;@(item.Start.ToString( "d MMMM" ) + " - " + item.End.ToString( "d MMMM" ))</span>
            </p>

            @{
                DateTime activityDate = new DateTime( 0 );
                List<LMS.Models.Activity> activities = item.Activities.OrderBy( a => a.Start ).ToList();
            }



                @for ( int i=0; i < activities.Count; i++ ) {
                    var activity = activities[i];
                    if ( activity.Start.Date != activityDate.Date ) {
                        activityDate = activity.Start.Date;
                        if ( activityDate >= yesterday ) { yesterday = new DateTime( 9000, 1, 1 ); <a id="today"></a> }
                        <div class="lms-schedule-date  @(dateToday == activityDate.Date ? "lms-schedule-today" : "")">
                            <!-- style=" (dateToday == activityDate.Date ? "font-weight: bold" : "")" -->
                            <span>@activity.Start.ToString( "dddd d MMMM" )&nbsp;</span>
                            
                            @*Html.DisplayFor( x => activity.Start.Date )*@
                        </div>
                    }


                    <div>

                        @(activity.Start.ToString( "HH:mm" ) + " - " + activity.End.ToString( "HH:mm" ))
                        @*Html.DisplayFor( x => activity.Start.TimeOfDay )*@

                        @Html.DisplayFor( x => activity.Name )
                        @*@Html.ActionLink( "Info", "Details", "Activities", new { id = activity.Id }, null )*@

                        <span style="font-size: large">
                            <a data-toggle="collapse" href="#actdesc_@activity.Id">...</a>
                            <!--button data-toggle="collapse" data-target="#actdesc_@activity.Id">v&nbsp;</!--button-->
                        </span>

                        @if ( activity.Documents.Where( d => d is LMS.Models.TimeSensetiveDocument ).Count() > 0 ) {
                        <span class="pull-right">
                            @Html.Partial( "~/Views/Shared/ModelFileView.cshtml",
                                 new LMS.Models.FileModalPartialViewModel {
                                     Id = activity.Id,
                                     Type = LMS.Models.DocumentTargetEntity.Activity,
                                     Title = "Lösning på inlämningsuppgift",
                                     PostBackChange = "location.reload()"
                                 } )
                        </span>
                        }
                    </div > 

                    
                    <div id="actdesc_@activity.Id" class="collapse">
                        @activity.Description
                    </div>

                    if (i == activities.Count-1 || activities[i+1].Start.Date == activityDate) {
                        <hr />
                    }
                }


        </div >
   }


<script>
    window.addEventListener("load", function () {
        if (window.location.toString().indexOf('#') < 0 )
            window.location += "#today"
    });
</script>
